@import "tailwindcss";

:root {
	--background-light: hsl(240, 7%, 80%);
	--background-dark: hsl(240, 7%, 77%);
	--foreground: hsl(240, 7%, 20%);
  --foreground-muted: hsl(0, 0, 67%);
	--accent: hsl(240, 7%, 65%);
	--primary: hsl(217, 100%, 69%);
	--secondary: hsl(217, 100%, 78%);
	--success: hsl(108, 100%, 74%);
	--error: hsl(0, 100%, 74%);
}

.dark {
	--background-light: hsl(240, 7%, 20%);
	--background-dark: hsl(240, 4%, 17%);
	--foreground: hsl(255, 100%, 100%);
	--accent: hsl(240, 7%, 35%);
}

@theme inline {
	--color-background-light: var(--background-light);
	--color-background-dark: var(--background-dark);
	--color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted)
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-error: var(--error);
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-background-dark text-foreground;
  }
}

